<h3>國立台北超強大學　　　成績單</h3>
<br><br>

<h1>成績列表</h1>

<%= link_to "新增學生", new_grade_path, class: "btn btn-success btn-x" %>

<h4>分數級別說明：90分以上S / 80~89：A / 70~79：B級 / 69~69：C級 / 未滿60：D級</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <td>姓名</td>
      <td>學號</td>
      <td>分數</td>
      <td>處理</td>
    </tr>
  </thead>
  
  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        
        <td><%= grade.name %></td>
        <td><%= grade.identity %></td>
        <td><%= 
            level = ""
            if grade.score >= 0 && grade.score < 60 
              level << "D 級("
            elsif grade.score >= 60 && grade.score < 70
              level << "C 級("
            elsif grade.score >= 70 && grade.score < 80
              level << "B 級("
            elsif grade.score >= 80 && grade.score < 90
              level << "A 級("
            elsif grade.score >= 90
              level << "S 級("
            end
            level << grade.score.to_s
            level << ")"
            level
         %></td>
        
        <td>
          <%= link_to "編輯", edit_grade_path(grade), class: "btn btn-success btn-xs" %>
          <%= link_to "刪除", grade_path(grade), method: "delete", data: { confirm: "確認刪除" }, class: "btn btn-danger btn-xs" %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>