<h1>新增學生</h1>
<br><br>

<%= form_for @grade do |f| %>
  姓名： <%= f.text_field :name %><br><br>
  學號： <%= f.text_field :identity %><br><br>
  分數： <%= f.text_field :score %><br><br>

  <%= f.submit %>
<% end %>